.DS_Store
*.swp
.~lock.*
.idea
.buildpath
.project
.settings
.v8flags.*
*.sublime-project
*.sublime-workspace

/build/
/composer.phar
/phpunit.xml
/.web-server-pid

/app/config/parameters.yml

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

/vendor/
/web/bundles/
/web/frontend/
/web/uploads/

node_modules/
