.DS_Store
*.swp
.~lock.*
.idea
.buildpath
.project
.settings
*.sublime-project
composer.phar

/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/*
/app/logs/*

!/app/cache/.gitkeep
!/app/logs/.gitkeep

/bin/

/vendor/
/web/vendor/
/web/frontend/
/web/css/
/web/bundles/
/web/Kunstmaan*BundleAssets/
/web/uploads

node_modules

docker/logs
.ssh/known_hosts
.composer
.bash_history
